@{
    <!-- title of the page -->
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<!--Heading that introduces the website-->
    <h1>Welcome to My Basketball Training Website</h1>
    <!--two images of basketball legends-->
    <img src="~/images/MJ.png" alt="MJ" style="width: 300px; height: auto; margin-right: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
    <br /><br />
    <img src="~/images/kb.jpg" alt="Kobe" style="width: 300px; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />

    <br /><br />
    <p>
    <!--a few paragraphs about the website and the hobby-->
        As a passionate basketball enthusiast and coach, my hobby revolves around training high school players with the aspiration of seeing them excel and eventually transition into professional basketball, particularly aiming for the NBA. It's a gratifying endeavor that allows me to combine my love for the sport with the joy of mentoring and developing young talent.
        <br><br>
        Training aspiring basketball players for the NBA requires a multifaceted approach. It begins with instilling fundamental skills such as shooting, dribbling, passing, and defensive techniques. However, beyond the basics, the focus extends to honing their athleticism, mental resilience, and basketball IQ. This comprehensive training regimen encompasses strength and conditioning workouts, agility drills, and strategic game simulations.
        <br><br>
        One of the most rewarding aspects of this journey is witnessing the growth and progression of each player, both on and off the court. Through dedicated practice, discipline, and perseverance, they learn to overcome challenges, push their limits, and strive for excellence. Moreover, the camaraderie and teamwork fostered within the training environment contribute to their personal development and character building.
        <br><br>
        Preparing high school players for the demanding rigors of professional basketball requires not only physical prowess but also mental fortitude and a strong work ethic. Emphasizing the importance of goal setting, time management, and self-discipline, I aim to equip these aspiring athletes with the tools necessary to navigate the competitive landscape of basketball at the highest level.
        <br><br>
        Ultimately, my hobby of training high school players to play in the NBA goes beyond the court—it's about empowering individuals to realize their full potential, pursue their dreams, and make a positive impact both on and off the hardwood. As I continue to invest in their development and mentorship, I take pride in knowing that I play a part in shaping the future of basketball and inspiring the next generation of athletes.
    </p>

</div>
