
@{
    <!-- title of the page -->
    ViewData["Title"] = "Price Calculator";
}

<div class="text-center">
    <h1>Price Calculator</h1>
    <div class="form-group">
        <label for="hours">Number of Hours Needed:</label>   
        <!--input to get the number of hours needed-->
        <!--validation to make sure the number is non-negative-->
        <input type="number" class="form-control" id="hours" placeholder="Enter hours" min="1" max="99999">
    </div>
    <div class="form-group">
        <label for="hourlyRate">Hourly Rate:</label>
        <!--non-editable input to display the hourly rate-->
        <input type="text" class="form-control" id="hourlyRate" value="$30" disabled>
    </div>
    <!--button to calculate the total price-->
    <button type="button" class="btn btn-primary" id="calculateButton">Calculate Total</button>
    <div class="form-group mt-3">
        <label for="total">Total:</label>
        <!-- non editable output to display the total price-->
        <input type="text" class="form-control" id="total" disabled>
    </div>
    <br /><br />
    <!--navigation to the home page-->
    <a>Back to <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>